<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Protect sensitive files from public access
    RewriteRule ^(\.env|composer\.json|composer\.lock|package\.json|package-lock\.json|artisan|storage/logs/.*|package\.json|eslint\.config\.js|tsconfig\.json|vite\.config\.ts|pint\.json)$ - [F,L,NC]
    RewriteRule ^(app|bootstrap|config|database|resources|routes|tests|vendor)/(.*)$ - [F,L,NC]

    # Handle Front Controller...
    RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.jpeg|\.gif|\.svg|\.ico|robots\.txt|site\.webmanifest|manifest\.json|apple-touch-icon\.png)$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ public/index.php [L]

    # Redirect other requests to public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
